---
title: Episodes
permalink: "/episodes/"
layout: page
order: 1
---

{% assign sort_episodes = site.episodes | sort: 'episode_number' | reverse %}
{% for episode in sort_episodes %}
<article class="article-container">
  <div class="content-card">
    <a href="{{ episode.url | prepend: site.baseurl }}">
      <img class="media" src="{{ episode.feature_image | prepend: site.baseurl }}" alt="{{ episode.title }}">
    </a>
    <small class="meta">Episode {{ episode.episode_number }}</small>
    <h1 class="title">
      <a class="link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a></h1>
    <p class="content">{{ episode.excerpt }}</p>
    {% if episode.video_embed != '' %}
    <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=video">
      <svg class="icon"><use xlink:href="#ico-play-sq"/></svg>
      Watch Now</a>
    {% endif %}
    {% if episode.audio_embed != '' %}
    <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=audio">
      <svg class="icon"><use xlink:href="#ico-musicnote-sq"/></svg>
      Listen Now</a>
    {% endif %}
  </div>
</article>
{% endfor %}
