---
layout: default
id: home
---

{% assign sort_episodes = site.episodes | sort: 'episode_number' | reverse %}
{% for episode in sort_episodes limit: 1 %}
  <section class="feature-display">
    <p class="site-title">{{ site.description }}</p>
    <div class="feature-image">
      <img src="{{ episode.feature_image | prepend: site.baseurl }}" alt="{{ episode.title }}">
    </div>
    <div class="content-card _floating">
      <small class="meta">Episode {{ episode.episode_number }}</small>
      <h1 class="title">
        <a class="link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a></h1>
      <p class="content">{{ episode.excerpt }}</p>
      {% if episode.video_embed != '' %}
      <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=video">
        <svg class="icon"><use xlink:href="#ico-play-sq"/></svg>
        Watch Now</a>
      {% endif %}
      {% if episode.audio_embed != '' %}
      <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=audio">
        <svg class="icon"><use xlink:href="#ico-musicnote-sq"/></svg>
        Listen Now</a>
      {% endif %}
    </div>
  </section>
{% endfor %}

<section class="_v-space">
  <div id="mlb2-4157067" class="email-form">
    <p class="label">Get Episodes Automatically by Email</p>
    <form class="ml-block-form" action="//app.mailerlite.com/webforms/submit/u0z1u2" data-id="290745" data-code="u0z1u2" method="POST" target="_blank">
      <div class="form-group ml-field-email ml-validate-required ml-validate-email">
        <input type="text" name="fields[email]" class="input _full" placeholder="Enter Email Address" value="">
        <button type="submit" class="button -primary">
            Submit
        </button>
      </div>
      <input type="hidden" name="ml-submit" value="1" />
    </form>
    <p class="label">Or</p>
    <nav class="form-social -inline">
      <a class="item button -primary _with-icon" href="#subscribe_modal" data-toggle="modal">
        <svg class="icon"><use xlink:href="#ico-subscribe"></svg>
        Subscribe Instantly
      </a>
    </nav>
  </div>
  <script type="text/javascript" src="//static.mailerlite.com/js/w/webforms.min.js?v86b0a4c660f110085cbf49e83e53be98"></script>
</section>
<!-- <section class="_v-space _text-center">
  <a class="button -primary -border" href="{{ "/live/" | prepend: site.baseurl }}">
    See what's coming in the future</a>
</section> -->

<section class="article-container _v-space">
  <hr>
  <h2 class="_text-center">Latest</h2>
  {% for episode in sort_episodes offset: 1 limit: 5 %}
  <article>
    <div class="content-card">
      <a href="{{ episode.url | prepend: site.baseurl }}">
        <img class="media" src="{{ episode.feature_image | prepend: site.baseurl }}" alt="{{ episode.title }}">
      </a>
      <small class="meta">Episode {{ episode.episode_number }}</small>
      <h1 class="title">
        <a class="link" href="{{ episode.url | prepend: site.baseurl }}">{{ episode.title }}</a></h1>
      <p class="content">{{ episode.excerpt }}</p>
      {% if episode.video_embed != '' %}
      <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=video">
        <svg class="icon"><use xlink:href="#ico-play-sq"/></svg>
        Watch Now</a>
      {% endif %}
      {% if episode.audio_embed != '' %}
      <a class="button -primary _with-icon" href="{{ episode.url | prepend: site.baseurl }}?media=audio">
        <svg class="icon"><use xlink:href="#ico-musicnote-sq"/></svg>
        Listen Now</a>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</section>

{% assign episode_length = site.episodes | size %}
{% if episode_length > 6 %}
<section class="_v-space _text-center">
<a class="button -primary -border" href="{{ "/episodes/" | prepend: site.baseurl }}">
  View more</a>
{% endif %}
</section>
