
<form id="contactForm" class="form">
  <span class="help-text">* Required fields</span>
  <label for="name" class="label">What's your name?</label>
  <input type="text" name="name" class="input" placeholder="Name">

  <label for="email" class="label">What's your email?*</label>
  <input type="email" name="email" class="input" placeholder="Email address" required="required">

  <label for="message" class="label">What's your feedback or comment?*</label>
  <textarea name="message" rows="8" cols="80" class="input" required="required" placeholder="I like..."></textarea>

  <input class='button -primary -border' type="submit" value="Send">

  <input type="hidden" name="_subject" value="Open-SourceCraft Feedback" />
  <input type="text" name="_gotcha" style="display:none" />

</form>
