<footer class="site-footer" role="contentinfo">
  <nav class="nav-footer -inline">
    {% include navigation.html %}
  </nav>

  <nav class="nav-footer -inline">
    {% for social in site.social %}
    <a class="item" href="{{social.url}}">
      <svg class="icon">
        <use xlink:href="#ico-{{social.source}}">
      </svg>
    </a>
    {% endfor %}
  </nav>

  <a class="brand" href="{{ site.baseurl }}/">
    {% include lgo-osc.svg %}
		<span class="_sr-only">{{ site.title }}</span>
	</a>
</footer>
