{% comment %}

# SHARE
==========================={% endcomment %}
<div id="share_modal" class="modal-content _is-closed" aria-hidden="true" aria-labelledby="Share" role="dialog">
  <button type="button" data-toggle="close" class="close button -default">
    <svg class="icon _mini"><use xlink:href="#ico-close" /></svg>
    <span class="_sr-only">Close</span>
  </button>
  <header class="header">
    <h2 class="title">Share</h2>
  </header>
  <section class="body _text-center">
    <a class="button -primary _with-icon" href="https://twitter.com/intent/tweet?text={{page.title}}&url={{ site.url }}{{ page.url | prepend: site.baseurl }}&via={{ site.follow[1].username }}&related={{ site.follow[1].username }}">
      <svg class="icon"><use xlink:href="#ico-twitter"></svg>
      Twitter
    </a>
    <a class="button -primary _with-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}">
      <svg class="icon"><use xlink:href="#ico-facebook"></svg>
      Facebook
    </a>
  </section>
</div>

{% comment %}

# SUBSCRIBE
==========================={% endcomment %}
<div id="subscribe_modal" class="modal-content _is-closed" aria-hidden="true" aria-labelledby="Subscribe to" role="dialog">
  <button type="button" data-toggle="close" class="close button -default">
    <svg class="icon _mini"><use xlink:href="#ico-close" /></svg>
    <span class="_sr-only">Close</span>
  </button>
  <header class="header">
    <h2 class="title">Subscribe To:</h2>
  </header>
  <section class="body">
    <h3>Subscribe to our YouTube Channel</h3>
    {% include youtube-subscribe.html %}
    <h3>Audio</h3>
    {% for subscribe in site.subscribe.audio %}
    <a class="button -primary _with-icon" href="{{subscribe.url}}">
      <svg class="icon"><use xlink:href="#ico-{{subscribe.source | downcase }}"></svg>
      {{ subscribe.source }}
    </a>
    {% endfor %}
    {% comment %}
    <h3>Video</h3>
    {% for subscribe in site.subscribe.video %}
    <a class="button -primary _with-icon" href="{{subscribe.url}}">
      <svg class="icon"><use xlink:href="#ico-{{subscribe.source | downcase }}"></svg>
      {{ subscribe.source }}
    </a>
    {% endfor %}
    {% endcomment %}

  </section>
</div>
