body {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	color: $font-color-base;
	line-height: $line-height-base;
	background: #fff;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2 {
	color: $font-color-base;
	font-family: $font-family-secondary;
}

h2 {
	font-weight: 200;
	text-align: center;
}

hr {
	width: 80%;
	height: 1px;
	margin: 0 auto;
	border: 0;
	background: $dark-grey;
}

// SVG Logo colors
.st0{fill:$brand-color-secondary;}
.st1{fill:$brand-color-primary;}
