body {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	color: $font-color-base;
	line-height: $line-height-base;
	background: #fff;
}

// SVG Logo colors
.st0{fill:$brand-color-secondary;}
.st1{fill:$brand-color-primary;}
