body {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	color: $font-color-base;
	line-height: $line-height-base;
	background: #fff;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2 {
	color: $font-color-base;
	font-family: $font-family-secondary;
}

h2 {
	font-weight: 200;
	// text-align: center;
}

a {
	color: $brand-color-primary;
	stroke: $brand-color-primary;
	&:visited {
		color: darken($brand-color-primary, 30%);
		stroke: darken($brand-color-primary, 30%);
	}
	> .icon {
		margin: 0 0.2em;
	}
}

blockquote {
	position: relative;
	margin: 0;
	padding: 0 30px;
	font-size: 20px;
	font-style: italic;
	color: $grey;
	overflow: hidden;
	border-left: solid 4px $brand-color-secondary;
	background: rgba($brand-color-secondary, 0.1);
	// &::before {
	// 	position: absolute;
	// 	top: 0;
	// 	left: -200px;
	// 	content: '';
	// 	width: 50%;
	// 	height: 200%;
	// 	background: $brand-color-secondary;
	// 	-webkit-transform: rotate(40deg);
	// 	transform: rotate(40deg);
	// 	opacity: 0.3;
	// 	z-index: -1;
	// }
	cite {
		display: block;
		margin: 10px 0;
	}
}

hr {
	display: block;
	height: 1px;
	margin: 0 auto;
	border: 0;
	background: $grey;
}

// SVG Logo colors
.st0{fill:$brand-color-secondary; stroke: none;}
.st1{fill:$brand-color-primary; stroke: none;}
