._sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

._full {
	width: 100%;
}

._text-center {
	text-align: center;
}
._text-left {
	text-align: left;
}
