
// Typography // -------------------------------
$font-family-primary: 'Yantramanav', sans-serif;
$font-family-secondary: 'Merriweather Sans', sans-serif;

// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 18px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.4;

$dark-grey: #4A4A4A;
$light-grey: #F5F5F5;

// Brand
$font-color-base: $dark-grey;
$brand-color-primary: #F38540;
$brand-color-secondary: #FFD371;



// $code-color: #abb2bf;
// $code-bkg: #282c34;
