
// Typography // -------------------------------
$font-family-primary: 'Yantramanav', sans-serif;
$font-family-secondary: 'Merriweather Sans', sans-serif;

// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 18px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.4;

// Brand
$font-color-base: #6F6D7B;
$brand-color-primary: #FF715B;
$brand-color-secondary: #51394C;

$white: #fff;

// $code-color: #abb2bf;
// $code-bkg: #282c34;
