.site-container {
  margin: 0 auto;
  max-width: $site-max-width;
}

.page-container {
  padding: 0 15px;
}

.article-container {
  margin: 0 auto;
  max-width: $article-max-width;
  > h1 {
    padding: 0 20px;
  }
}
