.feature-display {
  > .site-title {
    padding: 10px;
  }
  > .content-card {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
  }
}

.episode-display {
  > .content-card._floating {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    padding: 10px 20px;
  }
}
