.button {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
  @include bp(laptop) {
    // padding: 20px 26px;
  }
  // Different style for form buttosn and anchor buttons
  &[type=button],
  &[type=submit] {
    border: 0;
  }
  &.-default {
    color: $dark-grey;
    stroke: $dark-grey;
    &:visited {
      color: $dark-grey;
    }
    // &[type=button],
    // &[type=submit] {
    //   background: $dark-grey;
    //   color: #fff;
    //   stroke: #fff;
    // }
    &.-border {
      border: solid 1px $dark-grey;
    }
  }
  &.-primary {
    color: $brand-color-primary;
    stroke: $brand-color-primary;
    &:visited {
      color: $brand-color-primary;
    }
    // &[type=button],
    // &[type=submit] {
    //   background: $brand-color-primary;
    //   color: #fff;
    //   stroke: #fff;
    // }
    &.-border {
      border: solid 1px $brand-color-primary;
    }
  }
  &._small {
    font-size: 0.8em;
  }
  &._with-icon {
    padding-left: 0;
    > .icon {
      margin-right: 6px;
      margin-bottom: -7px;
      &._mini {
        margin-bottom: -2px;
      }
    }

  }
}
