.email-form {
  display: flex;
  flex-flow: column;
  @include bp(laptop) {
    flex-flow: row;
    justify-content: center;
  }
  padding: 10px;
  > .label {
    text-align: center;
    @include bp(laptop) {
      margin: 8px 30px;
    }
  }
  > form > .form-group {
    @include bp(laptop) {
      width: 350px;
    }
    @include bp(desktop) {
      width: 450px;
    }
  }
}

.form-social {
  @include bp(laptop) {
    padding-top: 5px;
  }
}

.form-group {
  position: relative;
  > .input {
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
  	padding: 15px 20px;
  	margin: 0;
  	border: none;
    background: $light-grey;
  }
  > .button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
  }
}
