<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  <body>
    <a href="#main_content" class="_sr-only _sr-only-focus">Skip to Main Content</a>
    <!--[if lt IE 8]>
      <div class="-full _text-center">
      <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->
    <div class="_sr-only">
      {% include icons.svg %}
    </div>

    {% include header.html %}

    <main id="main_content" class="site-container" role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    {% include modals.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendors/jquery.min.js"><\/script>')</script>
    <script src="//cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
    <script src="{{ "/js/embeder.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    {% if page.layout == 'episode' %}
    <script type="text/javascript">
      $(document).ready(function() {
        $.embeder({
          videoURL: '{{page.video_embed}}',
          audioURL: '{{page.audio_embed}}'
        });
      });
    </script>
    {% endif %}
    <script src="https://apis.google.com/js/platform.js"></script>
  </body>
</html>
