---
layout: default
---

<article class="article-container">
  <section id="mediaContainer" class="js-video-wrapper">
    <div class="episode-display">
      <img src="{{ page.feature_image | prepend: site.baseurl }}" alt="{{ page.title }}">
      <div id="mediaContent" class="content-card _floating js-audio-wrapper">
        {% if page.video_embed != '' %}
        <a class="button -primary _with-icon" href="?media=video">
          <svg class="icon"><use xlink:href="#ico-play-sq"/></svg>
          Watch Now</a>
        {% endif %}
        {% if page.audio_embed != '' %}
        <a class="button -primary _with-icon" href="?media=audio">
          <svg class="icon"><use xlink:href="#ico-musicnote-sq"/></svg>
          Listen Now</a>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="episode-article">
    <small class="meta">Episode {{ page.episode_number }}</small>
    <h1 class="title">{{ page.title }}</h1>
    <nav class=" _text-left -inline">
      <a class="button -default _with-icon" href="#subscribe_modal" data-toggle="modal">
        <svg class="icon">
          <use xlink:href="#ico-subscribe">
        </svg>
        Subscribe
      </a>
      <a class="button -default _with-icon" href="#share_modal" data-toggle="modal">
        <svg class="icon">
          <use xlink:href="#ico-share">
        </svg>
        Share
      </a>
    </nav>
    {{content}}

    <div class="_v-space">
      <hr>
      {% if page.show_tell_embed != '' %}
      <h2>
        <svg class="icon -default">
          <use xlink:href="#ico-show"/>
        </svg>
        Show &amp; Tell</h2>
        <div class="show-tell">
          <div class="frame-wrapper">
            <iframe src="{{page.show_tell_embed}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      {% endif %}
      {% if page.notes_text %}
      <h2>
        <svg class="icon -default">
          <use xlink:href="#ico-notes"/>
        </svg>
        Notes &amp; Links</h2>
          {{ page.notes_text | markdownify }}
        {% endif %}
    </div>
  </section>
</article>
