---
layout: default
---

<article class="article-container">
  {% if page.youtube_embed %}
    {% if page.is_live == true %}
      <div class="frame-wrapper">
        <iframe src="{{ page.youtube_embed }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% endif %}
  {% endif %}
  <div class="episode-article">
    <h1>{{ page.title }}</h1>

    {% if page.faqs %}
      {% for faq in page.faqs %}
        <h4>{{ faq.question }}</h4>
        <div class="">
          {{ faq.answer | markdownify }}
        </div>
      {% endfor %}
    {% endif %}

    {{content}}

  </div>
</article>
